---
const navItems = [
  { text: "Inicio", href: "#home" },
  { text: "Servicios", href: "#services" },
  { text: "Sobre Mi", href: "#about" },
  { text: "Contacto", href: "#contact" },
];
---

<header class="fixed w-full bg-white shadow-md z-50">
  <nav class="container mx-auto px-6 py-4">
    <div class="flex justify-between items-center">
      <a href="#home" class="uppercase text-2xl font-bold text-primary">
        salvador alvarado rodriguez
      </a>
      <div class="hidden md:flex space-x-8">
        {
          navItems.map((item) => (
            <a
              href={item.href}
              class="text-gray-600 hover:text-primary transition-colors"
            >
              {item.text}
            </a>
          ))
        }
      </div>
      <a
        href="#contact"
        class="hidden md:block bg-primary text-white px-6 py-2 rounded-xl hover:bg-secondary transition-colors"
      >
        Consulta Gratuita
      </a>
    </div>
  </nav>
</header>
